@model WebSiteProject1.Models.Register

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterConfirm</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div>
        <div class="header">
            <h4>Learning Center</h4>
            <nav class="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("registerform", "Home")">
                            Register
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("login", "Home")">
                            Login
                        </a>
                    </li>
                    <li>
                        <a asp-action="LogOff" asp-controller="Home">Log Off</a>
                    </li>
                </ul>
            </nav>
        </div>
        <h1>Register Confirm!</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Password)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Index">Back to Home</a>
    </div>

    <div>
        <p>©2016 - The Learning Center</p>
    </div>
</body>
</html>
